.modal.open {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000087;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}