.timeline:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #F9B300;
    z-index: 10;
}
.company-indicator {
    width: 30px;
    height: 30px;
    display: block;
    content: "";
    background: linear-gradient(180deg, #F9B300, #FCD97F);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -14px;
    z-index: 20;
    box-shadow: 1px 0 4px 5px #fff;
}
.company-indicator:before {
    border: 2px solid #fff;
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}
.job-indicator {
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 25px;
    height: 25px;
    display: block;
    content: "";
    background: linear-gradient(180deg, #6EA7F2, #96BFF6);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 22px;
    left: -8px;
    box-shadow: 1px 0 4px 5px #fff;
}
.job-indicator:before {
    border: 2px solid #fff;
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}
.company .experience-list:before {
    content: "";
    display: block;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-color: #2F80ED;
    height: 90%;
    position: absolute;
    width: 30px;
    top: 10px;
}
/* @media (min-width: 768px) {
    .timeline-indi.hhuk { 
        left: calc(50% - 15px);
    }
    .timeline-indi { 
        left: calc(50% - 15px);
    }
    .experience-list:after {
        content: "";
        width: 3px;
        background-color: rgb(41, 41, 41);
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        z-index: 0;
    }
} */
