.timeline-indi {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    border: 3px solid #F9B300;
    background-color: #fff;
    position: absolute;
    z-index: 5;
}

.timeline-indi:before {
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    display: block;
    content: "";
    background-color: #F9B300;
    border-radius: 50%;
    position: absolute;
}
@media (min-width: 768px) {
    .timeline-indi.hhuk { 
        left: calc(50% - 15px);
    }
    .timeline-indi { 
        left: calc(50% - 15px);
    }
    .experience-list:after {
        content: "";
        width: 3px;
        background-color: rgb(41, 41, 41);
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        z-index: 0;
    }
}
